Repository cardano-enthusiasts/donat-pool-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx,js,json,css,md,yml}": "prettier --check",
  "*.{ts,tsx}": "eslint",
  "*.css": "stylelint"
}

added prettier option
  .prettierrc.json
Due: prettier --check

refactored providers
  src/StoreProvider.tsx
  src/StyledComponentsProvider.tsx
  src/app/layout.tsx
  src/store.tsx
  src/store/index.ts
Due: prettier --check, eslint

moved store provider to store folder
  src/app/layout.tsx
  src/store/Provider.tsx
  src/store/index.ts
Due: prettier --check, eslint

refactored all projects page
  index.d.ts
  src/app/all-projects/[id]/page.tsx
  src/app/all-projects/page.tsx
  src/app/my-projects/[id]/page.tsx
  src/app/my-projects/page.tsx
  src/layouts/Common/Common.tsx
  src/shared/constants/errors.ts
  src/shared/constants/wallet.ts
  src/shared/helpers/hooks/common/useHandleError.ts
  src/shared/helpers/hooks/index.ts
  src/shared/helpers/hooks/offchain/useCheckWalletStatus.ts
  src/shared/helpers/hooks/offchain/useConnectWallet.ts
  src/shared/helpers/hooks/offchain/useCreateFundraising.ts
  src/shared/helpers/hooks/offchain/useDonate.ts
  src/shared/helpers/hooks/offchain/useGetAllFundraisings.ts
  src/shared/helpers/hooks/offchain/useGetAppInfo.ts
  src/shared/helpers/hooks/offchain/useGetUserFundraisings.ts
  src/shared/helpers/hooks/offchain/useReceiveFunds.ts
  src/shared/helpers/hooks/offchain/useUpdateProtocol.ts
  src/shared/hooks/index.ts
  src/shared/hooks/useAllFundraisings.ts
  src/shared/hooks/useAuthGuard.ts
  src/shared/hooks/useDonatPool.ts
  src/shared/types.ts
  src/shared/types/app.ts
  src/shared/types/common.ts
  src/shared/types/index.ts
  src/store/index.ts
  src/store/slices/allFundraisings/constants.ts
  src/store/slices/allFundraisings/index.ts
  src/store/slices/allFundraisings/types.ts
  src/store/slices/connectWallet.ts
  src/store/slices/getAllFundraisings.ts
  src/store/slices/index.ts
  src/store/slices/wallet/constants.ts
  src/store/slices/wallet/index.ts
  src/store/slices/wallet/types.ts
Due: prettier --check, eslint

fixed eslint erros
  package.json
  src/shared/components/CreationForm/types.ts
  src/shared/components/LandingNav/LandingNav.tsx
  src/shared/components/LandingNav/data.ts
Due: prettier --check, eslint

updated commit
  package-lock.json
  package.json
Due: prettier --check

added console.error
  src/shared/helpers/hooks/offchain/useConnectWallet.ts
  src/shared/helpers/hooks/offchain/useCreateFundraising.ts
  src/shared/helpers/hooks/offchain/useDonate.ts
  src/shared/helpers/hooks/offchain/useGetAllFundraisings.ts
  src/shared/helpers/hooks/offchain/useGetAppInfo.ts
  src/shared/helpers/hooks/offchain/useGetUserFundraisings.ts
  src/shared/helpers/hooks/offchain/useReceiveFunds.ts
  src/shared/helpers/hooks/offchain/useUpdateProtocol.ts
Due: prettier --check, eslint

fixed more build errors
  index.d.ts
  src/shared/helpers/hooks/offchain/useConnectWallet.ts
  src/shared/helpers/hooks/offchain/useCreateFundraising.ts
  src/shared/helpers/hooks/offchain/useDonate.ts
  src/shared/helpers/hooks/offchain/useGetAppInfo.ts
  src/shared/helpers/hooks/offchain/useGetUserFundraisings.ts
  src/shared/helpers/hooks/offchain/useReceiveFunds.ts
  src/shared/helpers/hooks/offchain/useUpdateProtocol.ts
  src/shared/hooks/useAllFundraisings.ts
  src/shared/hooks/useAuthGuard.ts
Due: prettier --check, eslint

fixed ts errors
  package.json
  src/app/all-projects/[id]/page.tsx
  src/app/all-projects/page.tsx
  src/app/management/page.tsx
  src/app/my-projects/[id]/page.tsx
  src/app/my-projects/page.tsx
  src/app/new-project/page.tsx
  src/app/page.tsx
  src/shared/components/Header/Header.tsx
  src/shared/components/LandingContent/LandingContent.tsx
  src/shared/components/LandingContent/types.ts
  src/shared/components/LandingNav/LandingNav.styled.ts
  src/shared/components/LandingNav/types.ts
  src/shared/components/ModalDonate/types.ts
  src/shared/components/MyProjects/MyProjects.tsx
  src/shared/components/PrivateProjectsActions/PrivateProjectsActions.tsx
  src/shared/components/ProjectCard/ProjectCard.tsx
  src/shared/components/WalletButton/WalletButton.tsx
  src/shared/helpers/hooks/offchain/useCreateFundraising.ts
  src/shared/helpers/hooks/offchain/useReceiveFunds.ts
  src/shared/helpers/transformProjects.ts
  src/store/slices/appInfo/index.ts
  src/store/slices/appInfo/types.ts
  src/store/slices/userFundraisings/index.ts
  src/store/slices/userFundraisings/types.ts
Due: prettier --check, eslint

fixed build errors
  src/app/faq/page.tsx
  src/app/layout.tsx
  src/app/roadmap/page.tsx
  src/shared/helpers/hooks/offchain/useConnectWallet.ts
  src/shared/helpers/hooks/offchain/useCreateFundraising.ts
  src/shared/helpers/hooks/offchain/useDonate.ts
  src/shared/helpers/hooks/offchain/useGetAppInfo.ts
  src/shared/helpers/hooks/offchain/useGetUserFundraisings.ts
  src/shared/helpers/hooks/offchain/useReceiveFunds.ts
  src/shared/helpers/hooks/offchain/useUpdateProtocol.ts
  src/shared/hooks/useAllFundraisings.ts
  src/shared/hooks/useAuthGuard.ts
  src/shared/hooks/useDonatPool.ts
  src/store/Provider.tsx
Due: prettier --check, eslint

removed unused scripts
  package.json
Due: prettier --check

refactored linst staged script
  .eslintrc.json
  .lintstagedrc.json
Due: prettier --check

- refactored getting user's fundraisings - added useAuthGuard to some pages
  .lintstagedrc.json
  index.d.ts
  src/app/all-projects/[id]/page.tsx
  src/app/my-projects/[id]/page.tsx
  src/app/my-projects/page.tsx
  src/app/new-project/page.tsx
  src/shared/components/MyProjects/MyProjects.tsx
  src/shared/helpers/hooks/index.ts
  src/shared/helpers/hooks/offchain/useCreateFundraising.ts
  src/shared/helpers/hooks/offchain/useGetUserFundraisings.ts
  src/shared/helpers/hooks/offchain/useReceiveFunds.ts
  src/shared/helpers/index.ts
  src/shared/helpers/transformProjects.ts
  src/shared/hooks/index.ts
  src/shared/hooks/useUserFundraisings.ts
  src/store/index.ts
  src/store/slices/getAllFundraisings.ts
  src/store/slices/index.ts
  src/store/slices/userFundraisings/constants.ts
  src/store/slices/userFundraisings/index.ts
  src/store/slices/userFundraisings/types.ts
Due: prettier --check, eslint

updated packages
  package-lock.json
  package.json
Due: prettier --check

updated packages json
  package-lock.json
Due: prettier --check

fixed errors
  src/app/all-projects/page.tsx
  src/app/new-project/page.tsx
  src/layouts/Common/Common.styled.ts
  src/layouts/Common/Common.tsx
  src/shared/components/DropdownSection/DropdownSection.styled.ts
  src/shared/components/ProjectCreation/ProjectCreation.tsx
  src/shared/helpers/hooks/offchain/useConnectWallet.ts
  src/shared/helpers/hooks/offchain/useCreateFundraising.ts
  src/shared/helpers/hooks/offchain/useDonate.ts
  src/shared/helpers/hooks/offchain/useGetAppInfo.ts
  src/shared/helpers/hooks/offchain/useReceiveFunds.ts
  src/shared/helpers/hooks/offchain/useUpdateProtocol.ts
  src/shared/hooks/useAllFundraisings.ts
  src/shared/hooks/useAuthGuard.ts
  src/shared/hooks/useUserFundraisings.ts
  tailwind.config.js
Due: prettier --check, eslint

fixed typescript errors
  src/app/all-projects/[id]/page.tsx
  src/app/my-projects/[id]/page.tsx
  src/app/roadmap/page.tsx
  src/layouts/Common/Common.tsx
  src/shared/components/Button/Button.styled.ts
  src/shared/components/CreationForm/CreationForm.tsx
  src/shared/components/InitialLoading/InitialLoading.styled.ts
  src/shared/components/Input/Input.styled.ts
  src/shared/components/LandingContent/LandingContent.tsx
  src/shared/components/LandingNav/LandingNav.styled.ts
  src/shared/components/ManagerEditor/ManagerEditor.tsx
  src/shared/components/ManagerEditor/data.ts
  src/shared/components/ModalContactUs/ModalContactUs.tsx
  src/shared/components/ModalDonate/ModalDonate.tsx
  src/shared/components/ProjectCard/ProjectCard.styled.ts
  src/shared/components/ProjectCard/ProjectCard.tsx
  src/shared/components/RaisedCounter/RaisedCounter.tsx
  src/shared/components/Roadmap/Roadmap.tsx
  src/shared/components/Stack/Stack.tsx
  src/shared/helpers/getDate.ts
  src/shared/helpers/hooks/offchain/useConnectWallet.ts
  src/shared/helpers/hooks/offchain/useCreateFundraising.ts
  src/shared/helpers/hooks/offchain/useDonate.ts
  src/shared/helpers/hooks/offchain/useGetAppInfo.ts
  src/shared/helpers/hooks/offchain/useReceiveFunds.ts
  src/shared/helpers/hooks/offchain/useUpdateProtocol.ts
Due: prettier --check, eslint

updated button and added animation
  src/pages/AllProjects/AllProjects.tsx
  src/pages/PublicProject/PublicProject.tsx
  src/shared/components/AboutUs/AboutUs.tsx
  src/shared/components/Button/Button.styled.ts
  src/shared/components/Button/Button.tsx
  src/shared/components/Button/types.ts
  src/shared/components/CreationForm/CreationForm.tsx
  src/shared/components/Footer/Footer.tsx
  src/shared/components/Header/Header.tsx
  src/shared/components/LandingNav/LandingNav.tsx
  src/shared/components/ManagerEditor/ManagerEditor.tsx
  src/shared/components/ModalContactUs/ModalContactUs.tsx
  src/shared/components/ModalDonate/ModalDonate.tsx
  src/shared/components/ModalError/ModalError.tsx
  src/shared/components/ModalProjectCreated/ModalProjectCreated.tsx
  src/shared/components/ModalSuccess/ModalSuccess.tsx
  src/shared/components/MyProjects/MyProjects.tsx
  src/shared/components/NotAvailableError/NotAvailableError.tsx
  src/shared/components/PrivateProjectsActions/PrivateProjectsActions.tsx
  src/shared/components/Roadmap/Roadmap.tsx
  src/shared/components/Stack/Stack.tsx
  src/shared/components/TitleAndDescription/TitleAndDescription.tsx
  src/shared/components/Tutorial/Tutorial.tsx
  src/shared/components/WhyChooseUs/WhyChooseUs.tsx
Due: prettier --check, eslint

fixed some errors
  .prettierignore
  Dockerfile
  index.d.ts
  restart-donat-pool.sh
  src/app/all-projects/[id]/page.tsx
  src/app/all-projects/page.tsx
  src/app/faq/page.tsx
  src/app/management/page.tsx
  src/app/my-projects/[id]/page.tsx
  src/app/my-projects/page.tsx
  src/app/new-project/page.tsx
  src/app/roadmap/page.tsx
  src/layouts/Common/Common.tsx
  src/shared/components/CreationForm/CreationForm.tsx
  src/shared/components/Footer/Footer.tsx
  src/shared/components/Header/Header.tsx
  src/shared/components/LandingNav/LandingNav.tsx
  src/shared/components/Logo/Logo.tsx
  src/shared/components/PrivateProjectsActions/PrivateProjectsActions.tsx
  src/shared/components/Roadmap/Roadmap.tsx
  src/shared/components/TitleAndDescription/TitleAndDescription.tsx
  src/shared/constants.ts
  src/shared/constants/index.ts
  src/shared/constants/wallet.ts
  src/shared/data.ts
  src/shared/helpers/hooks/common/useHandleError.ts
  src/shared/helpers/hooks/offchain/useConnectWallet.ts
  src/shared/helpers/hooks/offchain/useCreateFundraising.ts
  src/shared/helpers/hooks/offchain/useDonate.ts
  src/shared/helpers/hooks/offchain/useGetAppInfo.ts
  src/shared/helpers/hooks/offchain/useReceiveFunds.ts
  src/shared/hooks/useAllFundraisings.ts
  src/shared/hooks/useAuthGuard.ts
  src/shared/hooks/useDonatPool.ts
  src/shared/hooks/useUserFundraisings.ts
Due: prettier --check, eslint

fixed comments
  src/shared/components/Header/Header.tsx
  src/shared/helpers/hooks/offchain/useReceiveFunds.ts
  src/shared/hooks/useAllFundraisings.ts
  src/shared/hooks/useAuthGuard.ts
  src/shared/hooks/useUserFundraisings.ts
Due: prettier --check, eslint

removed eslint setting
  .eslintrc.json
Due: prettier --check

refactored eslint
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --check

refactored eslint config
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --check

fixed lint staged scripts
  .eslintignore
  .eslintrc.json
  .lintstagedrc.json
  .prettierignore
Due: prettier --check

removed commented rules
  .eslintrc.json
Due: prettier --check

added rules for hooks
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --check

fixed ts errors
  src/app/roadmap/page.tsx
  src/shared/data.ts
Due: prettier --check, eslint

added eslint rule
  .eslintrc.json
Due: prettier --check

changed second layer for standard button
  src/app/all-projects/page.tsx
  src/shared/components/Button/Button.styled.ts
Due: prettier --check, eslint

prettier edits
  src/shared/components/Button/Button.styled.ts
Due: prettier --check, eslint

refactored pre commit hook
  .husky/pre-commit
Due: none

refactored pre commit hook
  .husky/pre-commit
  package-lock.json
Due: prettier --check

removed build when pre commit
  .husky/pre-commit
Due: none

specified versions of required technologies for project
  README.md
Due: prettier --check

fixed issues
  src/app/roadmap/RoadmapForReading.styled.ts
  src/shared/components/Input/Input.styled.ts
  src/shared/components/Logo/Logo.tsx
  src/shared/components/Roadmap/Roadmap.styled.ts
  src/shared/components/Tutorial/Tutorial.styled.ts
  tailwind.config.js
Due: prettier --check, eslint

fixed issues
  src/shared/constants/errors.ts
  src/shared/helpers/hooks/common/useHandleError.ts
Due: prettier --check, eslint

updated readme
  README.md
Due: prettier --check
