Repository cardano-enthusiasts/donat-pool-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint, stylelint

fix eslint errors
  Dockerfile
  index.d.ts
Due: prettier --check, eslint

fixed issues
  index.d.ts
  src/StyledComponentsProvider.tsx
  src/app/all-projects/[id]/page.tsx
  src/app/global.css
  src/app/layout.tsx
  src/app/my-projects/[id]/page.tsx
  src/app/page.tsx
  src/layouts/Common/Common.tsx
  src/layouts/Project/Project.tsx
  src/shared/components/AboutUs/AboutUs.tsx
  src/shared/components/CreationForm/CreationForm.tsx
  src/shared/components/ManagerEditor/ManagerEditor.tsx
  src/shared/components/PrivateProjectsActions/PrivateProjectsActions.tsx
  src/shared/components/ProjectCard/ProjectCard.tsx
  src/shared/components/Stack/Stack.tsx
  src/shared/components/WalletButton/WalletButton.tsx
  src/shared/components/Waves/Waves.tsx
  src/shared/helpers/formatDate.ts
  src/shared/helpers/getDate.ts
  src/shared/helpers/getOffchainError.ts
  src/shared/helpers/hooks/index.ts
  src/shared/helpers/hooks/offchain/useConnectWallet.ts
  src/shared/helpers/index.ts
  src/shared/helpers/logOffchainError.ts
  src/shared/hooks/index.ts
  src/shared/hooks/useCreateFundraising.ts
  src/shared/hooks/useDonate.ts
  src/shared/hooks/useGetAppInfo.ts
  src/shared/hooks/useHandleError.ts
  src/shared/hooks/useReceiveFunds.ts
  src/shared/hooks/useUpdateProtocol.ts
  src/shared/hooks/useWindowScroll.ts
  src/shared/hooks/useWindowSize.ts
  tailwind.config.js
Due: prettier --check, eslint, stylelint

added opening FAQ page in new tab
  src/shared/components/Footer/Footer.tsx
  src/shared/components/Footer/constants.ts
Due: prettier --check, eslint

updated packages
  package-lock.json
  package.json
Due: prettier --check

used prettier config from alloy team
  .prettierrc.js
  .prettierrc.json
  src/StyledComponentsProvider.tsx
Due: prettier --check, eslint

fixed bugs in hooks for getting fundraisings
  src/app/all-projects/[id]/page.tsx
  src/app/all-projects/page.tsx
  src/app/my-projects/[id]/page.tsx
  src/shared/components/MyProjects/MyProjects.tsx
  src/shared/hooks/useAllFundraisings.ts
  src/shared/hooks/useAuthGuard.ts
  src/shared/hooks/useCreateFundraising.ts
  src/shared/hooks/useDonate.ts
  src/shared/hooks/useReceiveFunds.ts
  src/shared/hooks/useUserFundraisings.ts
Due: prettier --check, eslint

- replaced text for loading state - styled error
  src/app/all-projects/page.tsx
Due: prettier --check, eslint

refactored store
  src/StyledComponentsProvider.tsx
  src/store/Provider.tsx
  src/store/hooks.ts
  src/store/hooks/index.ts
  src/store/hooks/useAppDispatch.ts
  src/store/hooks/useAppSelector.ts
  src/store/index.ts
Due: prettier --check, eslint

updated offchain package
  package-lock.json
  package.json
Due: prettier --check

refactored bug when useAuthGuard can be called multiple times on a page
  src/app/all-projects/[id]/page.tsx
  src/shared/hooks/useAllFundraisings.ts
  src/shared/hooks/useAuthGuard.ts
Due: prettier --check, eslint

added whitespace
  src/shared/types.ts
Due: prettier --check, eslint

updated pacckages
  package-lock.json
  package.json
Due: prettier --check

refactored errors displaying
  src/app/(protected)/all-projects/page.tsx
  src/shared/hooks/useAllFundraisings.ts
  src/shared/hooks/useAuthGuard.ts
  src/shared/hooks/useUserFundraisings.ts
Due: prettier --check, eslint

added redirecting user to home page if he cancels wallet cconnection
  src/app/(protected)/all-projects/page.tsx
  src/shared/hooks/useAuthGuard.ts
Due: prettier --check, eslint

changed home route name
  src/shared/components/Footer/constants.ts
  src/shared/components/Logo/Logo.tsx
  src/shared/constants.ts
  src/shared/hooks/useAuthGuard.ts
Due: prettier --check, eslint

reinstalled packages
  package-lock.json
Due: prettier --check

app folder tailwind edits
  src/app/Landing.styled.ts
  src/app/all-projects/AllProjects.styled.ts
  src/app/all-projects/[id]/PublicProject.styled.ts
  src/app/all-projects/[id]/page.tsx
  src/app/all-projects/page.tsx
  src/app/faq/FAQ.styled.ts
  src/app/faq/page.tsx
  src/app/global.css
  src/app/layout.tsx
  src/app/management/Management.styled.ts
  src/app/management/page.tsx
  src/app/my-projects/[id]/PrivateProject.styled.ts
  src/app/my-projects/[id]/page.tsx
  src/app/page.tsx
  src/app/roadmap/RoadmapForReading.styled.ts
  src/app/roadmap/page.tsx
  src/shared/components/AlertNote/AlertNote.tsx
  src/shared/components/AlertNote/types.ts
  src/shared/components/Status/Status.tsx
  src/shared/components/Status/constants.ts
  src/shared/components/Status/types.ts
  src/shared/components/index.ts
  tailwind.config.js
Due: prettier --check, eslint, stylelint

added document title
  src/app/roadmap/page.tsx
Due: prettier --check, eslint

changed styles for layouts
  package-lock.json
  package.json
  src/app/all-projects/[id]/page.tsx
  src/app/global.css
  src/layouts/Common/Common.styled.ts
  src/layouts/Common/Common.tsx
  src/layouts/Project/Project.module.scss
  src/layouts/Project/Project.styled.ts
  src/layouts/Project/Project.tsx
  src/layouts/Service/Service.styled.ts
  src/layouts/Service/Service.tsx
Due: prettier --check, eslint, stylelint

updated about us
  src/shared/components/AboutUs/AboutUs.module.scss
  src/shared/components/AboutUs/AboutUs.styled.ts
  src/shared/components/AboutUs/AboutUs.tsx
  src/shared/components/AboutUs/constants.ts
  src/shared/components/AboutUs/types.ts
Due: prettier --check, eslint

updated node version in dockerfile
  Dockerfile
Due: none

changed media rule for scss
  .stylelintrc.json
  src/layouts/Project/Project.module.scss
  src/shared/components/AboutUs/AboutUs.module.scss
Due: prettier --check

test about us for husky
  src/shared/components/AboutUs/AboutUs.tsx
Due: prettier --check, eslint

updated dockerfile
  Dockerfile
Due: none

action donats and arrow edited
  .husky/pre-commit
  .stylelintrc.json
  src/shared/components/ActionDonuts/ActionDonuts.module.scss
  src/shared/components/ActionDonuts/ActionDonuts.styled.ts
  src/shared/components/ActionDonuts/ActionDonuts.tsx
  src/shared/components/Arrow/Arrow.styled.ts
  src/shared/components/Arrow/Arrow.tsx
Due: prettier --check, eslint

formatting
  src/app/(protected)/all-projects/[id]/page.tsx
  src/app/(protected)/all-projects/page.tsx
  src/app/global.css
  src/app/layout.tsx
  src/app/page.tsx
  src/app/roadmap/page.tsx
  src/shared/components/AboutUs/AboutUs.tsx
  tailwind.config.js
Due: prettier --check, eslint, stylelint

refactored dockerfile
  Dockerfile
  README.md
Due: prettier --check

fixed problems
  .eslintrc.json
  src/shared/components/Button/Button.styled.ts
Due: prettier --check, eslint

Path conditions:
  prettier --check: (any of: *.{ts,tsx}) or (any of: *.{js,json,css,md,yml})
  eslint: any of: *.{ts,tsx}
  stylelint: any of: *.css
