Repository cardano-enthusiasts/donat-pool-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

added axios error
  src/redux/slices/allDonatPools/thunk/index.ts
Due: prettier --write, eslint --fix

fixed loading image
  src/shared/components/ModalLoading/index.tsx
Due: prettier --write, eslint --fix

- refactored SecondaryButton - created Third button
  public/icons/down.svg
  src/shared/components/ConnectWalletModal/index.tsx
  src/shared/components/DashedButton/constants.ts
  src/shared/components/DashedButton/index.tsx
  src/shared/components/DashedButton/styles.module.css
  src/shared/components/DashedButton/types.ts
  src/shared/components/SecondaryButton/Button.tsx
  src/shared/components/SecondaryButton/Link.tsx
  src/shared/components/SecondaryButton/helpers.ts
  src/shared/components/SecondaryButton/types.ts
  src/shared/components/Stack/index.tsx
  src/shared/components/ThirdButton/index.tsx
  src/shared/components/ThirdButton/types.ts
  src/shared/components/Tutorial/index.tsx
  src/shared/components/index.ts
Due: prettier --write, eslint --fix, stylelint --fix

deleted reducers and added common error
  src/redux/slices/allDonatPools/index.ts
  src/redux/slices/allDonatPools/thunk/index.ts
Due: prettier --write, eslint --fix

edited waves
  src/shared/components/Waves/constants.ts
  src/shared/components/Waves/index.tsx
  src/shared/components/Waves/styles.module.css
  tailwind.config.js
Due: prettier --write, eslint --fix, stylelint --fix

deleted tutorial css file
  src/shared/components/Tutorial/index.tsx
  src/shared/components/Tutorial/styles.module.css
Due: prettier --write, eslint --fix, stylelint --fix

edited action donuts
  src/shared/components/ActionDonuts/constants.ts
  src/shared/components/ActionDonuts/index.tsx
  src/shared/components/ActionDonuts/styles.module.css
  tailwind.config.js
Due: prettier --write, eslint --fix, stylelint --fix

created QuaternaryButton
  src/shared/components/QuaternaryButton/Button.tsx
  src/shared/components/QuaternaryButton/Link.tsx
  src/shared/components/QuaternaryButton/helpers.ts
  src/shared/components/QuaternaryButton/types.ts
  src/shared/components/SecondaryButton/Link.tsx
  src/shared/components/SecondaryButton/helpers.ts
  src/shared/components/ThirdButton/index.tsx
  src/shared/components/TitleAndDescription/index.tsx
  src/shared/components/index.ts
  tailwind.config.js
Due: prettier --write, eslint --fix

edited roadmap and how it works
  src/shared/components/HowItWorks/constants.ts
  src/shared/components/HowItWorks/index.tsx
  src/shared/components/HowItWorks/styles.module.css
  src/shared/components/Roadmap/index.tsx
  src/shared/components/Roadmap/styles.module.css
Due: prettier --write, eslint --fix, stylelint --fix

modalProjectCreated edits
  src/shared/components/ModalProjectCreated/index.tsx
  src/shared/components/ModalProjectCreated/styles.module.css
Due: prettier --write, eslint --fix, stylelint --fix

modal error style edits
  src/shared/components/ModalError/index.tsx
  src/shared/components/ModalError/styles.module.css
Due: prettier --write, eslint --fix, stylelint --fix

refactored new button
  src/shared/components/QuaternaryButton/helpers.ts
  src/shared/components/TitleAndDescription/index.tsx
  tailwind.config.js
Due: prettier --write, eslint --fix

nav, link and titleAndDescription edits
  src/shared/components/LandingNav/index.tsx
  src/shared/components/LandingNav/styles.module.css
  src/shared/components/PrivateProjectsActions/index.tsx
  src/shared/components/PrivateProjectsActions/styles.module.css
  src/shared/components/TitleAndDescription/index.tsx
  src/shared/components/TitleAndDescription/styles.module.css
Due: prettier --write, eslint --fix, stylelint --fix

refactored code
  src/containers/DonatPool/index.tsx
  src/shared/components/AccentButton/constants.ts
  src/shared/components/AccentButton/index.tsx
  src/shared/components/AccentButton/styles.module.css
  src/shared/components/AccentButton/types.ts
  src/shared/components/QuaternaryButton/Button.tsx
  src/shared/components/QuaternaryButton/helpers.ts
  src/shared/components/QuaternaryButton/types.ts
  src/shared/components/Roadmap/index.tsx
  src/shared/components/SecondaryButton/Button.tsx
  src/shared/components/TitleAndDescription/index.tsx
  src/shared/components/index.ts
  tailwind.config.js
Due: prettier --write, eslint --fix, stylelint --fix

finished forth button
  src/containers/DonatPool/index.tsx
  src/shared/components/QuaternaryButton/Button.tsx
  src/shared/components/QuaternaryButton/Link.tsx
  src/shared/components/QuaternaryButton/helpers.ts
  src/shared/components/QuaternaryButton/types.ts
  src/shared/components/Roadmap/index.tsx
Due: prettier --write, eslint --fix

fixed bug
  tailwind.config.js
Due: prettier --write

renamed donatPools and error
  src/containers/DonatPools/index.tsx
  src/redux/slices/donatPools/index.ts
  src/redux/slices/donatPools/thunk/index.ts
  src/redux/slices/index.ts
  src/redux/store.ts
  src/shared/hooks/useCreateDonatPool.ts
  src/shared/hooks/useDonate.ts
  src/shared/hooks/useQueriedDonatPool.ts
Due: prettier --write, eslint --fix

replaced StandardButton with PrimaryButton
  src/containers/DonatPools/index.tsx
  src/containers/MyDonatPools/index.tsx
  src/shared/components/ContactUsModal/components/Form/index.tsx
  src/shared/components/CreationForm/index.tsx
  src/shared/components/Footer/components/ContactUsButton/index.tsx
  src/shared/components/LandingNav/index.tsx
  src/shared/components/Layout/index.tsx
  src/shared/components/ModalDonate/index.tsx
  src/shared/components/ModalProjectCreated/index.tsx
  src/shared/components/PrimaryButton/Button.tsx
  src/shared/components/PrimaryButton/Link.tsx
  src/shared/components/PrimaryButton/helpers.ts
  src/shared/components/PrimaryButton/types.ts
  src/shared/components/PrivateProjectsActions/index.tsx
  src/shared/components/StandardButton/constants.ts
  src/shared/components/StandardButton/index.tsx
  src/shared/components/StandardButton/styles.module.css
  src/shared/components/StandardButton/types.ts
  src/shared/components/Textarea/index.tsx
  src/shared/components/WhyChooseUs/index.tsx
  src/shared/components/index.ts
  tailwind.config.js
Due: prettier --write, eslint --fix, stylelint --fix

added animation to PrimaryButton
  src/shared/components/LandingNav/index.tsx
  src/shared/components/PrimaryButton/Button.tsx
  src/shared/components/PrimaryButton/Link.tsx
  src/shared/components/PrimaryButton/helpers.ts
  src/shared/components/PrimaryButton/types.ts
  src/shared/components/WhyChooseUs/index.tsx
  tailwind.config.js
Due: prettier --write, eslint --fix

refactored ThirdButton
  src/shared/components/ThirdButton/index.tsx
Due: prettier --write, eslint --fix

moved to rtk query
  package-lock.json
  package.json
  src/containers/DonatPool/index.tsx
  src/containers/DonatPools/index.tsx
  src/redux/slices/donatPools/index.ts
  src/redux/slices/donatPools/thunk/index.ts
  src/redux/slices/index.ts
  src/redux/store.ts
  src/services/api.ts
  src/services/axiosApi.ts
  src/shared/api.ts
  src/shared/components/ContactUsModal/components/Form/index.tsx
  src/shared/components/ProjectCard/index.tsx
  src/shared/components/ProjectCard/types.ts
  src/shared/constants.ts
  src/shared/helpers/transformFetchedDonatPools.ts
  src/shared/hooks/useCreateDonatPool.ts
  src/shared/hooks/useDonate.ts
  src/shared/hooks/useQueriedDonatPool.ts
  src/shared/types.ts
Due: prettier --write, eslint --fix

fixed bug
  src/redux/slices/getAllFundraisings.ts
  src/redux/slices/getUserRelatedFundraisings.ts
  src/shared/hooks/useDonatPools.ts
  src/shared/hooks/useMyDonatPools.ts
Due: prettier --write, eslint --fix

renamed values
  src/services/api.ts
  src/services/axiosApi.ts
  src/shared/constants.ts
  src/shared/hooks/useDonate.ts
Due: prettier --write, eslint --fix

changed completed to isCompleted
  index.d.ts
  src/containers/DonatPools/index.tsx
  src/containers/MyDonatPool/index.tsx
  src/containers/MyDonatPools/index.tsx
  src/services/api.ts
  src/shared/components/PrivateProjectsActions/index.tsx
  src/shared/helpers/index.ts
  src/shared/helpers/transformFetchedDonatPools.ts
  src/shared/hooks/useCreateDonatPool.ts
  src/shared/hooks/useMyDonatPools.ts
  src/shared/types.ts
Due: prettier --write, eslint --fix

renamed api and moved to slices, renamed hook
  src/containers/DonatPools/index.tsx
  src/redux/slices/api.ts
  src/redux/slices/index.ts
  src/redux/store.ts
  src/shared/axiosApi.ts
  src/shared/components/ContactUsModal/components/Form/index.tsx
  src/shared/hooks/useCreateDonatPool.ts
  src/shared/hooks/useDonate.ts
  src/shared/hooks/useQueriedDonatPool.ts
Due: prettier --write, eslint --fix

refactored SecondaryButton
  src/shared/components/ContactUsModal/components/Form/index.tsx
  src/shared/components/CreationForm/index.tsx
  src/shared/components/Header/components/WalletButton/index.tsx
  src/shared/components/ModalDonate/index.tsx
  src/shared/components/ModalError/index.tsx
  src/shared/components/ModalProjectCreated/index.tsx
  src/shared/components/ModalSuccess/index.tsx
  src/shared/components/PrivateProjectsActions/index.tsx
  src/shared/components/QuaternaryButton/Button.tsx
  src/shared/components/QuaternaryButton/Link.tsx
  src/shared/components/QuaternaryButton/helpers.ts
  src/shared/components/SecondaryButton/Button.tsx
  src/shared/components/SecondaryButton/Link.tsx
  src/shared/components/SecondaryButton/helpers.ts
  src/shared/components/SecondaryButton/types.ts
  src/shared/components/ThirdButton/index.tsx
Due: prettier --write, eslint --fix

deleted no-floating-promises warn
  .eslintrc.js
  src/shared/hooks/useCreateDonatPool.ts
  src/shared/hooks/useDonate.ts
Due: prettier --write, eslint --fix

export and folder edits
  src/containers/DonatPools/index.tsx
  src/redux/slices/appInfo/index.ts
  src/redux/slices/backEndApi/index.ts
  src/redux/slices/connectWallet/index.ts
  src/redux/slices/createFundraising/index.ts
  src/redux/slices/donating/index.ts
  src/redux/slices/fundsReceiving/index.ts
  src/redux/slices/getUserRelatedFundraisings/index.ts
  src/redux/slices/index.ts
  src/redux/slices/protocolUpdating/index.ts
  src/redux/store.ts
  src/shared/axiosApi.ts
  src/shared/hooks/useCreateDonatPool.ts
  src/shared/hooks/useDonate.ts
  src/shared/hooks/useQueriedDonatPool.ts
Due: prettier --write, eslint --fix

deleted !donatPool
  src/containers/DonatPool/index.tsx
  src/containers/DonatPools/index.tsx
Due: prettier --write, eslint --fix

edited input styles
  src/shared/components/Input/index.tsx
  src/shared/components/Input/styles.module.css
Due: prettier --write, eslint --fix, stylelint --fix

divided class names
  src/shared/components/Header/index.tsx
  src/shared/components/PrivateProjectsActions/index.tsx
Due: prettier --write, eslint --fix

deleted extra const from style
  src/shared/components/LandingContent/constants.ts
  src/shared/components/LandingContent/index.tsx
  src/shared/components/Waves/constants.ts
  src/shared/components/Waves/index.tsx
Due: prettier --write, eslint --fix

refactored PrimaryButton
  src/app/global.css
  src/shared/components/Footer/components/ContactUsButton/index.tsx
  src/shared/components/LandingNav/index.tsx
  src/shared/components/PrimaryButton/Button.tsx
  src/shared/components/PrimaryButton/Link.tsx
  src/shared/components/PrimaryButton/helpers.ts
  src/shared/components/PrimaryButton/types.ts
  src/shared/components/QuaternaryButton/Link.tsx
  src/shared/components/SecondaryButton/Link.tsx
  src/shared/components/WhyChooseUs/index.tsx
  tailwind.config.js
Due: prettier --write, eslint --fix, stylelint --fix

renamed api
  src/containers/DonatPools/index.tsx
  src/redux/slices/backEnd/index.ts
  src/redux/slices/index.ts
  src/redux/store.ts
  src/shared/backEnd.ts
  src/shared/components/ContactUsModal/components/Form/index.tsx
  src/shared/hooks/useCreateDonatPool.ts
  src/shared/hooks/useDonate.ts
  src/shared/hooks/useQueriedDonatPool.ts
Due: prettier --write, eslint --fix

refactored QuaternaryButton
  src/shared/components/PrimaryButton/Button.tsx
  src/shared/components/PrimaryButton/Link.tsx
  src/shared/components/PrimaryButton/helpers.ts
  src/shared/components/QuaternaryButton/Button.tsx
  src/shared/components/QuaternaryButton/Link.tsx
  src/shared/components/QuaternaryButton/helpers.ts
  src/shared/components/SecondaryButton/Button.tsx
  src/shared/components/SecondaryButton/Link.tsx
  src/shared/components/SecondaryButton/helpers.ts
  tailwind.config.js
Due: prettier --write, eslint --fix

divided connect modal and donate modal
  src/containers/DonatPool/index.tsx
Due: prettier --write, eslint --fix

added transition to PrimaryButton
  src/shared/components/PrimaryButton/helpers.ts
Due: prettier --write, eslint --fix

updated packages
  package-lock.json
  package.json
Due: prettier --write

- fixed comments - refactored buttons
  src/shared/components/LandingNav/index.tsx
  src/shared/components/PrimaryButton/Button.tsx
  src/shared/components/PrimaryButton/Link.tsx
  src/shared/components/PrimaryButton/helpers.ts
  src/shared/components/PrimaryButton/types.ts
  src/shared/components/QuaternaryButton/Button.tsx
  src/shared/components/QuaternaryButton/Link.tsx
  src/shared/components/QuaternaryButton/helpers.ts
  src/shared/components/QuaternaryButton/types.ts
  src/shared/components/Roadmap/index.tsx
  src/shared/components/TitleAndDescription/index.tsx
  src/shared/components/WhyChooseUs/index.tsx
Due: prettier --write, eslint --fix

refactored menu position on landing
  src/containers/Landing/index.tsx
  src/shared/components/LandingNav/index.tsx
  src/shared/components/Waves/index.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,json,css,md,yml})
  eslint --fix: any of: *.{ts,tsx}
  stylelint --fix: any of: *.css
