Repository cardano-enthusiasts/donat-pool-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

updated dependencies
  package-lock.json
  package.json
Due: prettier --write

refactored eslint config
  .eslintignore
  .eslintrc.js
  .eslintrc.json
  .prettierrc.js
  .prettierrc.json
  package-lock.json
  package.json
  src/app/(protected)/all-projects/[id]/page.tsx
  src/app/(protected)/layout.tsx
  src/layouts/Common/Common.tsx
  src/shared/components/ConnectWalletModal/ConnectWalletModal.tsx
  src/shared/components/CreationForm/CreationForm.tsx
  src/shared/components/Footer/constants.ts
  src/shared/components/Header/Header.tsx
  src/shared/components/LandingContent/LandingContent.tsx
  src/shared/components/LandingContent/types.ts
  src/shared/components/LandingNav/LandingNav.tsx
  src/shared/components/LandingNav/data.ts
  src/shared/components/ManagerEditor/ManagerEditor.tsx
  src/shared/components/ManagerEditor/data.ts
  src/shared/components/PrivateProjectsActions/PrivateProjectsActions.tsx
  src/shared/components/Stack/Stack.tsx
  src/shared/components/Tutorial/data.ts
  src/shared/components/Ul/types.ts
  src/shared/hooks/useCreateFundraising.ts
  src/shared/hooks/useDonate.ts
  src/shared/hooks/useGetAppInfo.ts
  src/shared/hooks/useReceiveFunds.ts
  src/shared/hooks/useUpdateProtocol.ts
  tsconfig.json
Due: prettier --write, eslint --fix

consistent event parameters names
  src/shared/components/CreationForm/CreationForm.tsx
  src/shared/components/Input/types.ts
  src/shared/components/ManagerEditor/ManagerEditor.tsx
Due: prettier --write, eslint --fix

moved styles to tailwind in aboutUs
  public/img/kate.png
  public/img/mariya.png
  public/img/oksana.png
  public/img/olga.png
  public/img/svetlana.png
  src/shared/components/AboutUs/AboutUs.tsx
  src/shared/components/AboutUs/constants.ts
  src/shared/components/AboutUs/types.ts
  tailwind.config.js
Due: prettier --write, eslint --fix

gif -> gifs
  public/gifs/nami-wallet-connection-tutorial-1.gif
  public/gifs/nami-wallet-connection-tutorial-2.gif
  public/gifs/nami-wallet-connection-tutorial-3.gif
  src/shared/components/Tutorial/data.ts
Due: prettier --write, eslint --fix

commnet edits
  src/app/(protected)/all-projects/page.tsx
  src/layouts/MyProjects/MyProjects.tsx
  src/layouts/MyProjects/types.ts
  src/layouts/NewProject/NewProject.tsx
Due: prettier --write, eslint --fix

e -> event
  src/shared/components/CreationForm/CreationForm.tsx
  src/shared/components/Input/Input.tsx
  src/shared/components/Input/types.ts
  src/shared/components/ManagerEditor/ManagerEditor.tsx
  src/shared/components/ModalContactUs/ModalContactUs.tsx
  src/shared/components/ModalDonate/ModalDonate.tsx
  src/shared/constants/errors.ts
Due: prettier --write, eslint --fix

removed unnecessary cn
  src/shared/components/TitleAndDescription/TitleAndDescription.tsx
Due: prettier --write, eslint --fix

added empty line
  .eslintignore
Due: none

deleted extra use client
  src/shared/hooks/index.ts
  src/shared/hooks/useDonatPool.ts
  src/shared/hooks/useFundraisings.ts
  src/shared/hooks/useUserFundraisings.ts
  src/shared/hooks/useWindowScroll.ts
  src/shared/hooks/useWindowSize.ts
Due: prettier --write, eslint --fix

fixed build
  src/layouts/Service/Service.tsx
  src/shared/components/Layout.tsx
Due: prettier --write, eslint --fix

fixed issues
  src/app/(protected)/all-projects/[id]/page.tsx
  src/shared/components/CreationForm/CreationForm.tsx
Due: prettier --write, eslint --fix

refactored linters' scripts
  .eslintignore
  package.json
  src/shared/components/ModalContactUs/ModalContactUs.tsx
Due: prettier --write, eslint --fix

refactored stylelint cli
  .stylelintignore
  next.config.js
  package.json
  tailwind.config.js
Due: prettier --write

added build check on commit
  .husky/pre-commit
Due: none

updated dependencies
  .husky/pre-commit
  package-lock.json
  package.json
Due: prettier --write

added empty strings
  src/app/(protected)/my-projects/[id]/page.tsx
  src/shared/components/Footer/Footer.tsx
  src/shared/components/ModalDonate/ModalDonate.tsx
Due: prettier --write, eslint --fix

deleted use client from hooks and added to components
  src/app/layout.tsx
  src/shared/components/AboutUs/AboutUs.tsx
  src/shared/components/PrecalculationFee/PrecalculationFee.tsx
  src/shared/components/Waves/Waves.tsx
  src/shared/hooks/useDonatPool.ts
  src/shared/hooks/useFundraisings.ts
  src/shared/hooks/useUserFundraisings.ts
  src/shared/hooks/useWindowScroll.ts
  src/shared/hooks/useWindowSize.ts
Due: prettier --write, eslint --fix

moved handlers last
  src/layouts/NewProject/NewProject.tsx
Due: prettier --write, eslint --fix

removed type markers for imports
  src/containers/MyDonatPools/index.tsx
  src/redux/slices/appInfo/index.ts
  src/redux/slices/cardano.ts
  src/redux/slices/connectWallet.ts
  src/redux/slices/createFundraising/index.ts
  src/redux/slices/donating/index.ts
  src/redux/slices/fundsReceiving/index.ts
  src/redux/slices/getAllFundraisings.ts
  src/redux/slices/getUserRelatedFundraisings.ts
  src/redux/slices/protocolUpdating/index.ts
  src/shared/components/LandingContent/index.tsx
  src/shared/hooks/useAppSelector.ts
Due: prettier --write, eslint --fix

updated classes
  src/shared/components/AboutUs/AboutUs.tsx
  src/shared/components/AboutUs/constants.ts
Due: prettier --write, eslint --fix

fixed issues
  src/app/(protected)/donat-pools/[id]/page.tsx
  src/app/faq/data.ts
  src/app/faq/page.tsx
  src/app/page.tsx
  src/app/terms-of-use/data.ts
  src/containers/DonatPools.tsx
  src/shared/components/ConnectWalletModal/index.tsx
  src/shared/components/CreationForm/index.tsx
  src/shared/components/Footer/index.tsx
  src/shared/components/LandingNav/index.tsx
  src/shared/components/LandingNav/types.ts
  src/shared/components/ManagerEditor/index.tsx
  src/shared/components/Modal/index.tsx
  src/shared/components/Modal/types.ts
  src/shared/components/ModalContactUs/index.tsx
  src/shared/components/ModalContactUs/types.ts
  src/shared/components/ModalDonate/index.tsx
  src/shared/components/ModalDonate/types.ts
  src/shared/components/ModalError/index.tsx
  src/shared/components/ModalError/types.ts
  src/shared/components/ModalLoading/index.tsx
  src/shared/components/ModalLoading/types.ts
  src/shared/components/ModalProjectCreated/index.tsx
  src/shared/components/ModalProjectCreated/types.ts
  src/shared/components/ModalSuccess/index.tsx
  src/shared/components/ModalSuccess/types.ts
  src/shared/components/PrivateProjectsActions/index.tsx
  src/shared/constants/errors.ts
Due: prettier --write, eslint --fix

added empty lines
  .dockerignore
  .stylelintignore
Due: none

fixed issues
  src/app/(protected)/donat-pools/[id]/page.tsx
  src/app/page.tsx
  src/shared/components/ConnectWalletModal/index.tsx
  src/shared/components/CreationForm/index.tsx
  src/shared/components/DropdownSection/index.tsx
  src/shared/components/Footer/index.tsx
  src/shared/components/Header/index.tsx
  src/shared/components/LandingNav/index.tsx
  src/shared/components/LandingNav/types.ts
  src/shared/components/ManagerEditor/index.tsx
  src/shared/components/Modal/index.tsx
  src/shared/components/Modal/types.ts
  src/shared/components/ModalContactUs/index.tsx
  src/shared/components/ModalContactUs/types.ts
  src/shared/components/ModalDonate/index.tsx
  src/shared/components/ModalDonate/types.ts
  src/shared/components/ModalError/index.tsx
  src/shared/components/ModalError/types.ts
  src/shared/components/ModalLoading/index.tsx
  src/shared/components/ModalLoading/types.ts
  src/shared/components/ModalProjectCreated/index.tsx
  src/shared/components/ModalProjectCreated/types.ts
  src/shared/components/ModalSuccess/index.tsx
  src/shared/components/ModalSuccess/types.ts
  src/shared/components/PrivateProjectsActions/index.tsx
  src/shared/components/Stack/index.tsx
  src/shared/components/Tutorial/index.tsx
Due: prettier --write, eslint --fix

fixed issues
  package.json
  src/app/(protected)/layout.tsx
  src/app/(protected)/my-donat-pools/[id]/page.tsx
Due: prettier --write, eslint --fix

added eslint rule
  .eslintrc.js
Due: prettier --write

fixed xss sizes and created common row styles
  src/shared/components/AboutUs/constants.ts
  src/shared/components/AboutUs/index.tsx
  tailwind.config.js
Due: prettier --write, eslint --fix

deleted css file for about us
  src/shared/components/AboutUs/styles.module.css
Due: prettier --write, stylelint --fix

refactored Footer
  src/app/layout.tsx
  src/containers/MyDonatPools/index.tsx
  src/shared/components/AccentButton/index.tsx
  src/shared/components/Footer/components/ContactUsButton/index.tsx
  src/shared/components/Footer/components/index.tsx
  src/shared/components/Footer/constants.ts
  src/shared/components/Footer/index.tsx
  src/shared/components/Footer/types.ts
  src/shared/components/LandingContent/index.tsx
  src/shared/components/Modal/constants.ts
  src/shared/components/Modal/index.tsx
  src/shared/components/ModalContactUs/index.tsx
  src/shared/components/Socials/index.tsx
  src/shared/components/index.ts
  tailwind.config.js
Due: prettier --write, eslint --fix

removed no-explicit-error
  .eslintrc.js
  index.d.ts
  src/app/(protected)/layout.tsx
  src/app/roadmap/page.tsx
  src/shared/components/ConnectWalletModal/index.tsx
  src/shared/components/CreationForm/index.tsx
  src/shared/components/LandingContent/index.tsx
  src/shared/components/LandingContent/types.ts
  src/shared/components/ManagerEditor/index.tsx
  src/shared/components/ModalContactUs/index.tsx
  src/shared/components/ModalDonate/index.tsx
  src/shared/components/Roadmap/index.tsx
  src/shared/components/Stack/index.tsx
  src/shared/data.ts
  src/shared/helpers/index.ts
  src/shared/helpers/isSubItem.ts
  src/shared/hooks/useCreateDonatPool.ts
  src/shared/hooks/useOffchain.ts
  src/shared/hooks/useUpdateProtocol.ts
  src/shared/types.ts
  src/shared/types/common.ts
Due: prettier --write, eslint --fix

deleted no-unsafe-arg disabling
  .eslintrc.js
  index.d.ts
  src/shared/hooks/useCreateDonatPool.ts
  src/shared/hooks/useDonatPools.ts
  src/shared/hooks/useDonate.ts
  src/shared/hooks/useGetAppInfo.ts
  src/shared/hooks/useMyDonatPools.ts
  src/shared/hooks/useReceiveFunds.ts
  src/shared/hooks/useUpdateProtocol.ts
  src/shared/types.ts
Due: prettier --write, eslint --fix

- removed use client from footer - added description to modal - refactored contact us modal
  src/shared/components/Footer/components/ContactUsButton/index.tsx
  src/shared/components/Footer/index.tsx
  src/shared/components/Modal/index.tsx
  src/shared/components/Modal/types.ts
  src/shared/components/ModalContactUs/index.tsx
  src/shared/components/ModalContactUs/types.ts
Due: prettier --write, eslint --fix

installed axios
  package-lock.json
  package.json
  src/shared/components/ModalContactUs/index.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,json,css,md,yml})
  eslint --fix: any of: *.{ts,tsx}
  stylelint --fix: any of: *.css
