Repository cardano-enthusiasts/donat-pool-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{js,json,css,md,yml}": "prettier --write",
  "*.css": "stylelint --fix"
}

updated dependencies
  package-lock.json
  package.json
Due: prettier --write

fixed issues
  src/shared/components/Modal/Modal.tsx
  src/shared/components/Modal/index.tsx
Due: prettier --write, eslint --fix

removed auto setting for line endings
  .prettierrc.js
Due: prettier --write

deleted global h1
  src/app/(protected)/all-projects/[id]/page.tsx
  src/app/(protected)/all-projects/page.tsx
  src/app/faq/page.tsx
  src/app/global.css
  src/app/management/page.tsx
  src/app/roadmap/page.tsx
  src/layouts/Project/Project.tsx
  src/shared/components/ModalContactUs/ModalContactUs.tsx
  src/shared/components/ModalError/ModalError.tsx
  src/shared/components/ModalLoading/ModalLoading.tsx
  src/shared/components/ModalProjectCreated/ModalProjectCreated.tsx
  src/shared/components/ModalSuccess/ModalSuccess.tsx
  src/shared/components/MyProjects/MyProjects.tsx
  src/shared/components/NotAvailableError/NotAvailableError.tsx
Due: prettier --write, eslint --fix, stylelint --fix

fixed bugs
  src/app/faq/page.tsx
  src/app/roadmap/page.tsx
  src/shared/components/ModalLoading/ModalLoading.tsx
Due: prettier --write, eslint --fix

fixed issues
  src/shared/components/Checkbox/Checkbox.tsx
  src/shared/components/Checkbox/index.tsx
  src/shared/components/Footer/Footer.tsx
  src/shared/components/Footer/index.tsx
  src/shared/components/Header/Header.tsx
  src/shared/components/Header/index.tsx
Due: prettier --write, eslint --fix

from px to rem
  src/app/(protected)/all-projects/[id]/page.tsx
  src/app/(protected)/all-projects/page.tsx
  src/app/faq/page.tsx
  src/app/management/page.tsx
  src/app/roadmap/page.tsx
  src/layouts/Project/Project.tsx
  src/shared/components/LandingContent/LandingContent.tsx
  src/shared/components/ModalContactUs/ModalContactUs.tsx
  src/shared/components/ModalError/ModalError.tsx
  src/shared/components/ModalLoading/ModalLoading.tsx
  src/shared/components/ModalProjectCreated/ModalProjectCreated.tsx
  src/shared/components/ModalSuccess/ModalSuccess.tsx
  src/shared/components/MyProjects/MyProjects.tsx
  src/shared/components/NotAvailableError/NotAvailableError.tsx
Due: prettier --write, eslint --fix

comment fixing
  package.json
  src/app/(protected)/all-projects/[id]/page.tsx
  src/app/faq/page.tsx
  src/app/layout.tsx
  src/layouts/Common/Common.tsx
  src/shared/components/AccentButton/AccentButton.tsx
  src/shared/components/AccentButton/constants.ts
  src/shared/components/Arrow/Arrow.tsx
  src/shared/components/BorderedButton/types.ts
  src/shared/components/DashedButton/DashedButton.tsx
  src/shared/components/DashedButton/constants.ts
  src/shared/components/DoubleBorderedButton/DoubleBorderedButton.tsx
  src/shared/components/DoubleBorderedButton/constants.ts
  src/shared/components/Footer/Footer.tsx
  src/shared/components/Header/Header.tsx
  src/shared/components/LandingNav/LandingNav.tsx
  src/shared/components/LandingNav/data.ts
  src/shared/components/Logo/Logo.tsx
  src/shared/components/StandardButton/StandardButton.tsx
  src/shared/components/StandardButton/constants.ts
  src/shared/components/Waves/Waves.tsx
  src/shared/components/Waves/constants.ts
  src/shared/styles/theme.ts
  src/shared/styles/types.ts
  tailwind.config.js
Due: prettier --write, eslint --fix

deleted extra config
  src/layouts/Project/Project.tsx
  src/shared/components/LandingContent/LandingContent.tsx
  src/shared/components/ProjectCard/ProjectCard.tsx
  src/shared/components/WalletButton/WalletButton.tsx
  tailwind.config.js
Due: prettier --write, eslint --fix

edited how it works texts
  src/shared/components/HowItWorks/HowItWorks.tsx
  src/shared/components/HowItWorks/data.ts
Due: prettier --write, eslint --fix

updated resolution
  src/shared/components/LandingNav/LandingNav.tsx
  src/shared/components/LandingNav/data.ts
  src/shared/components/Waves/Waves.tsx
Due: prettier --write, eslint --fix

Update README.md
  README.md
Due: prettier --write

moved in a file
  src/shared/components/LandingContent/LandingContent.tsx
  src/shared/components/LandingContent/constants.ts
Due: prettier --write, eslint --fix

changed logo styles
  src/shared/components/Logo/Logo.tsx
Due: prettier --write, eslint --fix

deleted extra cn
  src/shared/components/HowItWorks/HowItWorks.tsx
  src/shared/components/InitialLoading/InitialLoading.tsx
  src/shared/components/Input/Input.tsx
  src/shared/components/LandingContent/LandingContent.tsx
  src/shared/components/ModalError/ModalError.tsx
  src/shared/components/ModalProjectCreated/ModalProjectCreated.tsx
  src/shared/components/PrivateProjectsActions/PrivateProjectsActions.tsx
  src/shared/components/Roadmap/Roadmap.tsx
  src/shared/components/ScrollHelper/ScrollHelper.tsx
  src/shared/components/Tutorial/Tutorial.tsx
  src/shared/components/Waves/Waves.tsx
Due: prettier --write, eslint --fix

deleted shared status and fixed styles
  src/app/(protected)/my-projects/[id]/constants.ts
  src/app/(protected)/my-projects/[id]/page.tsx
  src/shared/components/PrivateProjectsActions/PrivateProjectsActions.tsx
  src/shared/components/Roadmap/Roadmap.tsx
  src/shared/components/Status/Status.tsx
  src/shared/components/Status/types.ts
  src/shared/components/index.ts
Due: prettier --write, eslint --fix

moved some tailwind classes to styles
  src/shared/components/DashedButton/DashedButton.module.css
  src/shared/components/DashedButton/DashedButton.tsx
  src/shared/components/ModalError/ModalError.module.css
  src/shared/components/ModalError/ModalError.tsx
  src/shared/components/ModalProjectCreated/ModalProjectCreated.module.css
  src/shared/components/ModalProjectCreated/ModalProjectCreated.tsx
  src/shared/components/PrivateProjectsActions/PrivateProjectsActions.module.css
  src/shared/components/PrivateProjectsActions/PrivateProjectsActions.tsx
Due: prettier --write, eslint --fix, stylelint --fix

deleted target param
  src/shared/components/Footer/Footer.tsx
Due: prettier --write, eslint --fix

changed gif names
  public/gif/tutorial-1.gif
  public/gif/tutorial-3.gif
Due: none

deleted about us on metalamp link
  src/shared/components/Footer/constants.ts
Due: prettier --write, eslint --fix

deleted target type
  src/shared/components/Footer/constants.ts
Due: prettier --write, eslint --fix

- updated dependencies - updated prettier config
  .prettierrc.js
  package-lock.json
  package.json
Due: prettier --write

replaced document.title with metadata
  src/app/(protected)/all-projects/page.tsx
  src/app/(protected)/my-projects/page.tsx
  src/app/(protected)/new-project/page.tsx
  src/app/faq/page.tsx
  src/app/layout.tsx
  src/app/management/page.tsx
  src/app/page.tsx
  src/app/roadmap/page.tsx
  src/layouts/AllProjects/AllProjects.tsx
  src/layouts/MyProjects/MyProjects.tsx
  src/layouts/MyProjects/types.ts
  src/layouts/NewProject/NewProject.tsx
  src/layouts/index.ts
  src/shared/components/MyProjects/types.ts
  src/shared/components/ProjectCreation/ProjectCreation.tsx
  src/shared/components/ProjectCreation/types.ts
  src/shared/components/index.ts
  src/shared/hooks/index.ts
Due: prettier --write, eslint --fix

changed page titles
  src/app/(protected)/all-projects/page.tsx
  src/shared/components/CreationForm/CreationForm.tsx
  src/shared/components/Header/Header.tsx
  src/shared/components/ModalProjectCreated/ModalProjectCreated.tsx
  src/shared/components/MyProjects/MyProjects.tsx
  src/shared/components/PrivateProjectsActions/PrivateProjectsActions.tsx
  src/shared/components/ProjectCard/ProjectCard.tsx
  src/shared/components/ProjectCard/types.ts
  src/shared/components/ProjectCreation/ProjectCreation.tsx
Due: prettier --write, eslint --fix

fixed external link error
  src/shared/components/NotAvailableError/NotAvailableError.tsx
  src/shared/components/WhyChooseUs/WhyChooseUs.tsx
Due: prettier --write, eslint --fix

- refactored storing active wallet - fixed bug when installed and not installed wallet could be mixed up
  index.d.ts
  src/app/(protected)/constants.ts
  src/app/(protected)/layout.tsx
  src/redux/slices/cardano.ts
  src/shared/components/ConnectWalletModal/ConnectWalletModal.tsx
  src/shared/components/ConnectWalletModal/constants.ts
  src/shared/components/ConnectWalletModal/index.tsx
  src/shared/components/Header/Header.tsx
  src/shared/constants.ts
  src/shared/helpers/createConnectionParameters.ts
  src/shared/hooks/useCreateFundraising.ts
  src/shared/hooks/useDonate.ts
  src/shared/hooks/useFundraisings.ts
  src/shared/hooks/useGetAppInfo.ts
  src/shared/hooks/useReceiveFunds.ts
  src/shared/hooks/useUserFundraisings.ts
  src/shared/types.ts
Due: prettier --write, eslint --fix

- replace mobile first with desktop first in some places - fixed type of lode wallet - fixed styles of ConnectWalletModal
  index.d.ts
  src/shared/components/Checkbox/Checkbox.tsx
  src/shared/components/Checkbox/types.ts
  src/shared/components/ConnectWalletModal/ConnectWalletModal.tsx
  src/shared/components/DoubleBorderedButton/DoubleBorderedButton.module.css
  src/shared/components/DoubleBorderedButton/DoubleBorderedButton.tsx
  src/shared/components/DoubleBorderedButton/constants.ts
  src/shared/components/DoubleBorderedButton/types.ts
  src/shared/components/Layout.tsx
  src/shared/components/Modal/Modal.tsx
  tailwind.config.js
Due: prettier --write, eslint --fix, stylelint --fix

cleared tailwind config
  src/shared/components/LandingContent/LandingContent.tsx
  src/shared/components/ProjectCard/ProjectCard.tsx
  src/shared/components/Tutorial/Tutorial.tsx
  tailwind.config.js
Due: prettier --write, eslint --fix

px to rem
  src/shared/components/DashedButton/DashedButton.module.css
  src/shared/components/Modal/Modal.tsx
  src/shared/components/Modal/constants.ts
  src/shared/components/ModalError/ModalError.module.css
  src/shared/components/ModalProjectCreated/ModalProjectCreated.module.css
  src/shared/components/PrivateProjectsActions/PrivateProjectsActions.module.css
Due: prettier --write, eslint --fix, stylelint --fix

comment edits
  public/gif/nami-wallet-connection-tutorial-1.gif
  public/gif/nami-wallet-connection-tutorial-2.gif
  public/gif/nami-wallet-connection-tutorial-3.gif
  src/shared/components/AboutUs/AboutUs.tsx
  src/shared/components/CreationForm/CreationForm.tsx
  src/shared/components/Footer/Footer.tsx
  src/shared/components/InitialLoading/InitialLoading.tsx
  src/shared/components/LandingNav/LandingNav.tsx
  src/shared/components/ManagerEditor/ManagerEditor.tsx
  src/shared/components/ModalContactUs/ModalContactUs.tsx
  src/shared/components/ModalDonate/ModalDonate.tsx
  src/shared/components/ModalError/ModalError.tsx
  src/shared/components/ModalProjectCreated/ModalProjectCreated.tsx
  src/shared/components/ModalSuccess/ModalSuccess.tsx
  src/shared/components/NotAvailableError/NotAvailableError.tsx
  src/shared/components/PrivateProjectsActions/PrivateProjectsActions.tsx
  src/shared/components/Roadmap/Roadmap.tsx
  src/shared/components/Stack/Stack.tsx
  src/shared/components/TitleAndDescription/TitleAndDescription.tsx
  src/shared/components/Tutorial/data.ts
  src/shared/components/WhyChooseUs/WhyChooseUs.tsx
Due: prettier --write, eslint --fix

changed prop order
  src/shared/components/ModalError/ModalError.tsx
Due: prettier --write, eslint --fix

deleted use client from layout
  src/app/(protected)/all-projects/page.tsx
  src/layouts/AllProjects/AllProjects.tsx
  src/layouts/Common/Common.tsx
  src/layouts/MyProjects/MyProjects.tsx
  src/layouts/NewProject/NewProject.tsx
  src/layouts/index.ts
Due: prettier --write, eslint --fix

used global props with children interface
  src/shared/components/AccentButton/AccentButton.tsx
  src/shared/components/AccentButton/types.ts
  src/shared/components/BorderedButton/BorderedButton.tsx
  src/shared/components/BorderedButton/types.ts
  src/shared/components/CommonError/CommonError.tsx
  src/shared/components/DashedButton/DashedButton.tsx
  src/shared/components/DashedButton/types.ts
  src/shared/components/DoubleBorderedButton/DoubleBorderedButton.tsx
  src/shared/components/DoubleBorderedButton/types.ts
  src/shared/components/DropdownSection/DropdownSection.tsx
  src/shared/components/DropdownSection/types.ts
  src/shared/components/StandardButton/StandardButton.tsx
  src/shared/components/StandardButton/types.ts
  src/shared/components/Subtitle/Subtitle.tsx
Due: prettier --write, eslint --fix

created types file for compound types
  src/shared/components/Checkbox/Checkbox.tsx
  src/shared/components/Checkbox/types.ts
  src/shared/components/Modal/Modal.tsx
  src/shared/components/Modal/types.ts
Due: prettier --write, eslint --fix

moved use client down
  src/layouts/MyProjects/MyProjects.tsx
  src/layouts/NewProject/NewProject.tsx
  src/shared/components/CreationForm/CreationForm.tsx
  src/shared/components/DropdownSection/DropdownSection.tsx
  src/shared/components/InitialLoading/InitialLoading.tsx
  src/shared/components/LandingContent/LandingContent.tsx
  src/shared/components/LandingNav/LandingNav.tsx
  src/shared/components/ManagerEditor/ManagerEditor.tsx
  src/shared/components/Modal/Modal.tsx
  src/shared/components/ModalContactUs/ModalContactUs.tsx
  src/shared/components/ModalDonate/ModalDonate.tsx
  src/shared/components/ModalLoading/ModalLoading.tsx
  src/shared/components/ModalProjectCreated/ModalProjectCreated.tsx
  src/shared/components/PrivateProjectsActions/PrivateProjectsActions.tsx
  src/shared/components/RaisedCounter/RaisedCounter.tsx
  src/shared/components/Stack/Stack.tsx
  src/shared/components/Tutorial/Tutorial.tsx
Due: prettier --write, eslint --fix

extracted handlers
  .eslintignore
  .eslintrc.json
  src/app/(protected)/all-projects/[id]/page.tsx
  src/app/(protected)/all-projects/page.tsx
  src/app/(protected)/layout.tsx
  src/app/(protected)/my-projects/[id]/page.tsx
  src/app/(protected)/my-projects/page.tsx
  src/app/(protected)/new-project/page.tsx
  src/app/faq/page.tsx
  src/app/roadmap/page.tsx
  src/redux/slices/cardano.ts
  src/redux/slices/getAllFundraisings.ts
  src/redux/slices/getUserRelatedFundraisings.ts
  src/shared/components/ConnectWalletModal/ConnectWalletModal.tsx
  src/shared/components/CreationForm/CreationForm.tsx
  src/shared/components/CreationForm/types.ts
  src/shared/components/DropdownSection/DropdownSection.tsx
  src/shared/components/Footer/Footer.tsx
  src/shared/components/Header/Header.tsx
  src/shared/components/Input/Input.tsx
  src/shared/components/Input/types.ts
  src/shared/components/LandingContent/LandingContent.tsx
  src/shared/components/LandingNav/LandingNav.tsx
  src/shared/components/ManagerEditor/ManagerEditor.tsx
  src/shared/components/ModalContactUs/ModalContactUs.tsx
  src/shared/components/ModalDonate/ModalDonate.tsx
  src/shared/components/ModalDonate/types.ts
  src/shared/components/ModalError/types.ts
  src/shared/components/ModalLoading/ModalLoading.tsx
  src/shared/components/ModalProjectCreated/types.ts
  src/shared/components/MyProjects/MyProjects.tsx
  src/shared/components/PrivateProjectsActions/PrivateProjectsActions.tsx
  src/shared/components/Roadmap/Roadmap.tsx
  src/shared/components/Stack/Stack.tsx
  src/shared/components/Tutorial/Tutorial.tsx
  src/shared/hooks/useFundraisings.ts
  src/shared/hooks/useQueriedFundraising.ts
  src/shared/hooks/useUserFundraisings.ts
  src/shared/hooks/useWindowScroll.ts
Due: prettier --write, eslint --fix
