Repository cardano-enthusiasts/donat-pool-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

added support for docker
  Dockerfile
  next.config.js
Due: prettier --write

- removed docker compose - refactored Dockerfile
  Dockerfile
  README.md
  docker-compose.yml
Due: prettier --write

added dockerignore file
  .dockerignore
Due: none

added empty line
  src/app/page.tsx
Due: prettier --write, eslint --fix

add openssh-client
  Dockerfile
Due: none

updated dependencies
  package-lock.json
  package.json
Due: prettier --write

added hook for getting queried fundraising
  src/app/(protected)/all-projects/[id]/page.tsx
  src/app/(protected)/all-projects/page.tsx
  src/app/(protected)/layout.tsx
  src/shared/hooks/index.ts
  src/shared/hooks/useAuthGuard.ts
  src/shared/hooks/useDonatPool.ts
  src/shared/hooks/useDonate.ts
  src/shared/hooks/useFundraisings.ts
  src/shared/hooks/useQueriedFundraising.ts
Due: prettier --write, eslint --fix

- created shared layout component - created shared type for props with children - created framework of terms of use page
  src/StyledComponentsProvider.tsx
  src/app/(protected)/layout.tsx
  src/app/layout.tsx
  src/app/terms-of-use/page.tsx
  src/redux/Provider.tsx
  src/shared/components/Footer/constants.ts
  src/shared/components/Layout.tsx
  src/shared/components/index.ts
  src/shared/constants.ts
  src/shared/types.ts
Due: prettier --write, eslint --fix

moved "use client" directive to leaves on the page
  src/app/terms-of-use/page.tsx
  src/shared/components/Footer/Footer.tsx
  src/shared/components/Header/Header.tsx
  src/shared/components/Layout.tsx
  src/shared/components/index.ts
  src/shared/hooks/useAuthGuard.ts
  src/shared/hooks/useFundraisings.ts
  src/shared/hooks/useQueriedFundraising.ts
  src/shared/hooks/useUserFundraisings.ts
Due: prettier --write, eslint --fix

fixed animation, changed scss to css
  src/layouts/Project/Project.module.css
  src/layouts/Project/Project.tsx
  src/shared/components/AboutUs/AboutUs.module.css
  src/shared/components/AboutUs/AboutUs.tsx
  src/shared/components/AboutUs/constants.ts
  src/shared/components/AccentButton/AccentButton.module.css
  src/shared/components/AccentButton/AccentButton.module.scss
  src/shared/components/AccentButton/AccentButton.tsx
  src/shared/components/ActionDonuts/ActionDonuts.module.css
  src/shared/components/ActionDonuts/ActionDonuts.tsx
  src/shared/components/DashedButton/DashedButton.module.css
  src/shared/components/DashedButton/DashedButton.module.scss
  src/shared/components/DashedButton/DashedButton.tsx
  src/shared/components/DoubleBorderedButton/DoubleBorderedButton.module.css
  src/shared/components/DoubleBorderedButton/DoubleBorderedButton.module.scss
  src/shared/components/DoubleBorderedButton/DoubleBorderedButton.tsx
  src/shared/components/StandardButton/StandardButton.module.css
  src/shared/components/StandardButton/StandardButton.tsx
  tailwind.config.js
Due: prettier --write, eslint --fix, stylelint --fix

change styles for error and creation form
  src/shared/components/CommonError/CommonError.styled.ts
  src/shared/components/CommonError/CommonError.tsx
  src/shared/components/CreationForm/CreationForm.styled.ts
  src/shared/components/CreationForm/CreationForm.tsx
Due: prettier --write, eslint --fix

button edits
  package-lock.json
  src/shared/components/BorderedButton/BorderedButton.tsx
  src/shared/components/CreationForm/CreationForm.tsx
  src/shared/components/DoubleBorderedButton/DoubleBorderedButton.tsx
  src/shared/components/StandardButton/StandardButton.tsx
Due: prettier --write, eslint --fix

style edits for checkbox, dropdown, footer and contact us
  src/app/global.css
  src/shared/components/Checkbox/Checkbox.styled.ts
  src/shared/components/Checkbox/Checkbox.tsx
  src/shared/components/DropdownSection/DropdownSection.styled.ts
  src/shared/components/DropdownSection/DropdownSection.tsx
  src/shared/components/Footer/Footer.styled.ts
  src/shared/components/Footer/Footer.tsx
  src/shared/components/ModalContactUs/ModalContactUs.styled.ts
  src/shared/components/ModalContactUs/ModalContactUs.tsx
Due: prettier --write, eslint --fix, stylelint --fix

finished terms of use page
  src/StyledComponentsProvider.tsx
  src/app/(protected)/layout.tsx
  src/app/layout.tsx
  src/app/terms-of-use/data.ts
  src/app/terms-of-use/page.tsx
  src/app/terms-of-use/styles.module.css
  src/redux/Provider.tsx
  src/shared/components/Layout.tsx
  src/shared/components/index.ts
  src/shared/constants.ts
  src/shared/data.ts
  src/shared/types.ts
Due: prettier --write, eslint --fix, stylelint --fix

refactored styles
  src/app/terms-of-use/page.tsx
  src/app/terms-of-use/styles.module.css
Due: prettier --write, eslint --fix, stylelint --fix

added prettierignore
  .prettierignore
Due: none

moved globals prop up
  .eslintrc.json
Due: prettier --write

added "as const" to terms
  .prettierignore
  src/app/terms-of-use/data.ts
Due: prettier --write, eslint --fix

removed vscode folder from ignoring
  .prettierignore
Due: none

header and fee edits
  src/shared/components/Header/Header.styled.ts
  src/shared/components/Header/Header.tsx
  src/shared/components/PrecalculationFee/PrecalculationFee.styled.ts
  src/shared/components/PrecalculationFee/PrecalculationFee.tsx
Due: prettier --write, eslint --fix

initial, how-it-works and other edits
  src/shared/components/BorderedButton/BorderedButton.tsx
  src/shared/components/Footer/Footer.tsx
  src/shared/components/Header/Header.tsx
  src/shared/components/HowItWorks/HowItWorks.module.css
  src/shared/components/HowItWorks/HowItWorks.styled.ts
  src/shared/components/HowItWorks/HowItWorks.tsx
  src/shared/components/InitialLoading/InitialLoading.styled.ts
  src/shared/components/InitialLoading/InitialLoading.tsx
  src/shared/components/ManagerEditor/ManagerEditor.styled.ts
  src/shared/components/ManagerEditor/ManagerEditor.tsx
Due: prettier --write, eslint --fix, stylelint --fix

refactored Modal component
  package-lock.json
  package.json
  src/StyledComponentsProvider.tsx
  src/app/(protected)/layout.tsx
  src/app/layout.tsx
  src/redux/Provider.tsx
  src/shared/components/ConnectWalletModal.tsx
  src/shared/components/Layout.tsx
  src/shared/components/Modal.tsx
  src/shared/components/Modal/Modal.styled.ts
  src/shared/components/Modal/Modal.tsx
  src/shared/components/Modal/types.ts
  src/shared/components/ModalContactUs/ModalContactUs.tsx
  src/shared/components/ModalDonate/ModalDonate.tsx
  src/shared/components/ModalError/ModalError.tsx
  src/shared/components/ModalLoading/ModalLoading.tsx
  src/shared/components/ModalProjectCreated/ModalProjectCreated.tsx
  src/shared/components/ModalSuccess/ModalSuccess.tsx
  src/shared/components/index.ts
  src/shared/types.ts
  tailwind.config.js
Due: prettier --write, eslint --fix

input, landing, modals edits
  src/app/global.css
  src/shared/components/CreationForm/CreationForm.tsx
  src/shared/components/Input/Input.module.css
  src/shared/components/Input/Input.styled.ts
  src/shared/components/Input/Input.tsx
  src/shared/components/LandingContent/LandingContent.styled.ts
  src/shared/components/LandingContent/LandingContent.tsx
  src/shared/components/Logo/Logo.tsx
  src/shared/components/ManagementParams/ManagementParams.styled.ts
  src/shared/components/ManagementParams/ManagementParams.tsx
  src/shared/components/ModalDonate/ModalDonate.styled.ts
  src/shared/components/ModalDonate/ModalDonate.tsx
  src/shared/components/ModalError/ModalError.styled.ts
  src/shared/components/ModalError/ModalError.tsx
  src/shared/components/ModalLoading/ModalLoading.styled.ts
  src/shared/components/ModalLoading/ModalLoading.tsx
  src/shared/components/ModalProjectCreated/ModalProjectCreated.styled.ts
  src/shared/components/ModalProjectCreated/ModalProjectCreated.tsx
  src/shared/components/ModalSuccess/ModalSuccess.styled.ts
  src/shared/components/ModalSuccess/ModalSuccess.tsx
  tailwind.config.js
Due: prettier --write, eslint --fix, stylelint --fix

used tailwind's feature to add line height to font size immediately
  src/app/layout.tsx
Due: prettier --write, eslint --fix

moved exports to the end of files
  src/StyledComponentsProvider.tsx
  src/app/(protected)/layout.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/terms-of-use/data.ts
  src/app/terms-of-use/page.tsx
  src/redux/Provider.tsx
  src/redux/slices/appInfo/index.ts
  src/redux/slices/donating/index.ts
  src/redux/slices/fundraisingCreation/index.ts
  src/redux/slices/fundsReceiving/index.ts
  src/redux/slices/protocolUpdating/index.ts
  src/redux/store.ts
  src/shared/components/ConnectWalletModal.tsx
  src/shared/components/Layout.tsx
  src/shared/components/Modal.tsx
  src/shared/constants.ts
  src/shared/data.ts
  src/shared/hooks/useAppDispatch.ts
  src/shared/hooks/useAppSelector.ts
  src/shared/hooks/useAuthGuard.ts
  src/shared/hooks/useFundraisings.ts
  src/shared/hooks/useQueriedFundraising.ts
  src/shared/hooks/useUserFundraisings.ts
Due: prettier --write, eslint --fix

logo, modal, my projects and other edits
  src/shared/components/Logo/Logo.styled.ts
  src/shared/components/Logo/Logo.tsx
  src/shared/components/Modal/Modal.styled.ts
  src/shared/components/Modal/Modal.tsx
  src/shared/components/ModalProjectCreated/ModalProjectCreated.module.css
  src/shared/components/ModalProjectCreated/ModalProjectCreated.tsx
  src/shared/components/MyProjects/MyProjects.styled.ts
  src/shared/components/MyProjects/MyProjects.tsx
  src/shared/components/NotAvailableError/NotAvailableError.styled.ts
  src/shared/components/NotAvailableError/NotAvailableError.tsx
  src/shared/components/PrivateProjectsActions/PrivateProjectsActions.module.css
  src/shared/components/PrivateProjectsActions/PrivateProjectsActions.styled.ts
  src/shared/components/PrivateProjectsActions/PrivateProjectsActions.tsx
  src/shared/components/RaisedCounter/RaisedCounter.styled.ts
  src/shared/components/RaisedCounter/RaisedCounter.tsx
  src/shared/components/Socials/Socials.styled.ts
  src/shared/components/Socials/Socials.tsx
  src/shared/components/WhyChooseUs/WhyChooseUs.styled.ts
  src/shared/components/WhyChooseUs/WhyChooseUs.tsx
  tailwind.config.js
Due: prettier --write, eslint --fix, stylelint --fix

nav style edits
  src/shared/components/LandingNav/LandingNav.module.css
  src/shared/components/LandingNav/LandingNav.styled.ts
  src/shared/components/LandingNav/LandingNav.tsx
  src/shared/components/LandingNav/data.ts
  tailwind.config.js
Due: prettier --write, eslint --fix, stylelint --fix

- created slice for cardano - refactored layout for protected pages
  index.d.ts
  src/app/(protected)/layout.tsx
  src/redux/slices/cardano.ts
  src/redux/slices/connectedWallet.ts
  src/redux/slices/index.ts
  src/redux/store.ts
Due: prettier --write, eslint --fix

added new theme for panel in Modal component
  src/app/(protected)/layout.tsx
  src/redux/slices/cardano.ts
  src/shared/components/ConnectWalletModal.tsx
  src/shared/components/Modal.tsx
  src/shared/components/Modal/constants.ts
  src/shared/components/Modal/index.tsx
Due: prettier --write, eslint --fix

component style edits
  package-lock.json
  package.json
  src/StyledComponentsProvider.tsx
  src/app/layout.tsx
  src/shared/components/Arrow/Arrow.tsx
  src/shared/components/InitialLoading/InitialLoading.tsx
  src/shared/components/ProjectCard/ProjectCard.styled.ts
  src/shared/components/ProjectCard/ProjectCard.tsx
  src/shared/components/Roadmap/Roadmap.module.css
  src/shared/components/Roadmap/Roadmap.styled.ts
  src/shared/components/Roadmap/Roadmap.tsx
  src/shared/components/ScrollHelper/ScrollHelper.styled.ts
  src/shared/components/ScrollHelper/ScrollHelper.tsx
  src/shared/components/Stack/Stack.module.css
  src/shared/components/Stack/Stack.styled.ts
  src/shared/components/Stack/Stack.tsx
  src/shared/components/TitleAndDescription/TitleAndDescription.module.css
  src/shared/components/TitleAndDescription/TitleAndDescription.styles.ts
  src/shared/components/TitleAndDescription/TitleAndDescription.tsx
  src/shared/components/Tutorial/Tutorial.styled.ts
  src/shared/components/Tutorial/Tutorial.tsx
  src/shared/components/WalletButton/WalletButton.styled.ts
  src/shared/components/WalletButton/WalletButton.tsx
  src/shared/components/Waves/Waves.module.css
  src/shared/components/Waves/Waves.styled.ts
  src/shared/components/Waves/Waves.tsx
  src/shared/styles/mixins.ts
  tailwind.config.js
Due: prettier --write, eslint --fix, stylelint --fix

minor edits
  src/shared/components/InitialLoading/InitialLoading.tsx
  src/shared/components/ModalError/ModalError.module.css
  src/shared/components/ModalError/ModalError.tsx
  src/shared/components/Roadmap/Roadmap.tsx
  src/shared/components/Stack/Stack.tsx
  src/shared/components/TitleAndDescription/TitleAndDescription.module.css
  src/shared/components/TitleAndDescription/TitleAndDescription.tsx
  src/shared/components/Tutorial/Tutorial.module.css
  src/shared/components/Tutorial/Tutorial.tsx
  src/shared/components/Tutorial/data.ts
  src/shared/components/WalletButton/WalletButton.tsx
Due: prettier --write, eslint --fix, stylelint --fix

removed page reloading when wallet is connected
  src/app/(protected)/layout.tsx
  src/redux/slices/cardano.ts
  src/shared/components/ConnectWalletModal/index.tsx
  src/shared/hooks/useAppSelector.ts
  src/shared/types.ts
Due: prettier --write, eslint --fix

removed unnecessary optional chaining operator
  src/shared/components/ConnectWalletModal/index.tsx
Due: prettier --write, eslint --fix

added dividing line between installed and non-installed wallets
  src/shared/components/ConnectWalletModal/index.tsx
Due: prettier --write, eslint --fix

fixed issues
  src/shared/components/Roadmap/Roadmap.styled.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,json,css,md,yml})
  eslint --fix: any of: *.{ts,tsx}
  stylelint --fix: any of: *.css
