Repository cardano-enthusiasts/donat-pool-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

fixed loading and card color
  src/containers/DonatPools/index.tsx
  src/containers/MyDonatPools/index.tsx
  src/shared/components/ADAIcon/index.tsx
  src/shared/components/ADAIcon/types.ts
  src/shared/components/FakeDonatPoolCard/index.tsx
  tailwind.config.js
Due: prettier --write, eslint --fix

renamed to donat pool
  src/containers/MyDonatPool/index.tsx
  src/containers/MyDonatPools/index.tsx
Due: prettier --write, eslint --fix

created SecondaryButton component
  src/app/global.css
  src/shared/components/ConnectWalletModal/index.tsx
  src/shared/components/DoubleBorderedButton/index.tsx
  src/shared/components/Header/components/WalletButton/index.tsx
  src/shared/components/SecondaryButton/Button.tsx
  src/shared/components/SecondaryButton/types.ts
  src/shared/components/StandardButton/index.tsx
  src/shared/components/index.ts
  tailwind.config.js
Due: prettier --write, eslint --fix, stylelint --fix

removed offchain from condition
  src/app/(protected)/layout.tsx
Due: prettier --write, eslint --fix

deleted NotAvailableError
  public/img/sad-cat-with-purple-border.svg
  src/shared/components/NotAvailableError/index.tsx
  src/shared/components/index.ts
Due: prettier --write, eslint --fix

refactored SecondaryButton component
  public/icons/nami.svg
  src/shared/components/Header/components/WalletButton/index.tsx
  src/shared/components/SecondaryButton/Button.tsx
  src/shared/components/SecondaryButton/types.ts
  src/shared/components/WalletLogo/index.tsx
  src/shared/components/WalletLogo/types.ts
Due: prettier --write, eslint --fix

refactored nami icon
  public/icons/nami.svg
Due: none

refactored flint icon
  public/icons/flint.svg
Due: none

added closing of a ConnectWalletModal
  src/shared/components/ConnectWalletModal/index.tsx
  src/shared/components/ConnectWalletModal/types.ts
  src/shared/components/Header/components/WalletButton/index.tsx
Due: prettier --write, eslint --fix

updated commit
  package-lock.json
  package.json
Due: prettier --write

started mobile menu
  public/icons/logo.svg
  public/icons/menu.svg
  src/shared/components/Header/index.tsx
  src/shared/components/LandingNav/index.tsx
  src/shared/components/Layout/index.tsx
  src/shared/components/Logo/index.tsx
  src/shared/components/SecondaryButton/Button.tsx
Due: prettier --write, eslint --fix

extended from props with children
  src/shared/components/AccentButton/index.tsx
  src/shared/components/AccentButton/types.ts
  src/shared/components/BorderedButton/index.tsx
  src/shared/components/BorderedButton/types.ts
  src/shared/components/Checkbox/index.tsx
  src/shared/components/Checkbox/types.ts
  src/shared/components/DashedButton/index.tsx
  src/shared/components/DashedButton/types.ts
  src/shared/components/DoubleBorderedButton/index.tsx
  src/shared/components/DoubleBorderedButton/types.ts
  src/shared/components/DropdownSection/index.tsx
  src/shared/components/DropdownSection/types.ts
  src/shared/components/Input/index.tsx
  src/shared/components/Input/types.ts
  src/shared/components/Project/index.tsx
  src/shared/components/Project/types.ts
  src/shared/components/StandardButton/index.tsx
  src/shared/components/StandardButton/types.ts
Due: prettier --write, eslint --fix

added interactivity to mobile header
  package-lock.json
  package.json
  src/shared/components/Header/index.tsx
Due: prettier --write, eslint --fix

comment edits
  public/icons/ADA.svg
  src/containers/DonatPool/index.tsx
  src/containers/DonatPools/index.tsx
  src/containers/MyDonatPools/index.tsx
  src/shared/components/ADAIcon/index.tsx
  src/shared/components/ADAIcon/types.ts
  src/shared/components/FakeDonatPoolCard/index.tsx
  src/shared/components/Loader/constants.tsx
  src/shared/components/Loader/index.tsx
  src/shared/components/ProjectCard/index.tsx
  src/shared/components/index.ts
Due: prettier --write, eslint --fix

finished mobile header
  public/icons/close.svg
  src/shared/components/Footer/index.tsx
  src/shared/components/Header/index.tsx
  src/shared/components/Modal/index.tsx
Due: prettier --write, eslint --fix

comment edits
  src/containers/DonatPools/index.tsx
  src/shared/components/CommonError/index.tsx
  src/shared/components/Layout/index.tsx
  src/shared/components/index.ts
Due: prettier --write, eslint --fix

replaced button in ContactUsModal
  src/shared/components/ContactUsModal/components/Form/index.tsx
  src/shared/components/SecondaryButton/Button.tsx
  src/shared/components/SecondaryButton/types.ts
Due: prettier --write, eslint --fix

updated dependencies
  package-lock.json
  package.json
Due: prettier --write

deleted no-donat-pool, deleted donat pool checking
  src/containers/DonatPool/index.tsx
  src/containers/DonatPools/index.tsx
  src/shared/components/NoDonatPool/index.tsx
  src/shared/components/index.ts
  src/shared/hooks/useQueriedDonatPool.ts
Due: prettier --write, eslint --fix

fixed bug when we could have donat pools or error while request in "requesting" state
  src/redux/slices/getAllFundraisings.ts
  src/redux/slices/getUserRelatedFundraisings.ts
  src/shared/hooks/useDonatPools.ts
  src/shared/hooks/useMyDonatPools.ts
Due: prettier --write, eslint --fix

moved props with children to types
  src/shared/components/Layout/index.tsx
  src/shared/components/Layout/types.ts
Due: prettier --write, eslint --fix

returned outline for input and textarea
  src/shared/components/Input/NewInput.tsx
  src/shared/components/Textarea/index.tsx
Due: prettier --write, eslint --fix

deleted donat pool checking
  src/shared/hooks/useQueriedDonatPool.ts
Due: prettier --write, eslint --fix

refactored meta tags
  src/app/(protected)/donat-pools/[id]/page.tsx
  src/app/(protected)/donat-pools/page.tsx
  src/app/(protected)/my-donat-pools/[id]/page.tsx
  src/app/(protected)/my-donat-pools/page.tsx
  src/app/(protected)/new-donat-pool/page.tsx
  src/app/faq/page.tsx
  src/app/layout.tsx
  src/app/roadmap/page.tsx
  src/app/terms-of-use/page.tsx
Due: prettier --write, eslint --fix

added more metadata to the app
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  src/app/apple-icon.png
  src/app/manifest.webmanifest
  src/app/robots.txt
Due: none

added all donat pools backend
  .eslintrc.js
  src/containers/DonatPools/index.tsx
  src/redux/slices/allDonatPools/index.ts
  src/redux/slices/allDonatPools/thunk/index.ts
  src/redux/slices/index.ts
  src/redux/store.ts
  src/shared/hooks/index.ts
  src/shared/hooks/useCreateDonatPool.ts
  src/shared/hooks/useDonatPools.ts
  src/shared/hooks/useDonate.ts
  src/shared/hooks/useQueriedDonatPool.ts
Due: prettier --write, eslint --fix

added opengraph metatags to pages
  src/app/(protected)/donat-pools/[id]/page.tsx
  src/app/(protected)/donat-pools/page.tsx
  src/app/(protected)/my-donat-pools/[id]/page.tsx
  src/app/(protected)/my-donat-pools/page.tsx
  src/app/(protected)/new-donat-pool/page.tsx
  src/app/faq/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/roadmap/page.tsx
  src/app/terms-of-use/page.tsx
  src/shared/constants.ts
Due: prettier --write, eslint --fix

lowercased icon
  public/icons/ada.svg
Due: none

fixed image import
  src/shared/components/Loading/constants.tsx
Due: prettier --write, eslint --fix

ternar and donatPool checking
  src/containers/DonatPools/index.tsx
  src/containers/MyDonatPools/index.tsx
Due: prettier --write, eslint --fix

fixed issues
  src/shared/components/RaisedCounter/index.tsx
Due: prettier --write, eslint --fix

changed script for starting production server
  package.json
Due: prettier --write

renamed scripts
  package.json
Due: prettier --write

returned old script names
  package.json
Due: prettier --write

added keywords meta tag to pages
  src/app/(protected)/donat-pools/[id]/page.tsx
  src/app/(protected)/donat-pools/page.tsx
  src/app/(protected)/my-donat-pools/[id]/page.tsx
  src/app/(protected)/my-donat-pools/page.tsx
  src/app/(protected)/new-donat-pool/page.tsx
  src/app/faq/page.tsx
  src/app/page.tsx
  src/app/roadmap/page.tsx
  src/app/terms-of-use/page.tsx
Due: prettier --write, eslint --fix

- created SecondaryLink - replaced old link with new one in ConnectWalletModal
  src/shared/components/ConnectWalletModal/index.tsx
  src/shared/components/Header/components/WalletButton/index.tsx
  src/shared/components/SecondaryButton/Button.tsx
  src/shared/components/SecondaryButton/Link.tsx
  src/shared/components/SecondaryButton/helpers.ts
  src/shared/components/SecondaryButton/types.ts
  src/shared/components/index.ts
Due: prettier --write, eslint --fix

moved from protected and added donat pool checking
  src/app/donat-pools/[id]/page.tsx
  src/app/donat-pools/page.tsx
  src/containers/DonatPool/index.tsx
  src/containers/DonatPools/index.tsx
  src/redux/slices/allDonatPools/index.ts
Due: prettier --write, eslint --fix

deleted DoubleBorderedButton component
  src/shared/components/CreationForm/index.tsx
  src/shared/components/DoubleBorderedButton/constants.ts
  src/shared/components/DoubleBorderedButton/index.tsx
  src/shared/components/DoubleBorderedButton/styles.module.css
  src/shared/components/DoubleBorderedButton/types.ts
  src/shared/components/ModalDonate/index.tsx
  src/shared/components/ModalError/index.tsx
  src/shared/components/ModalLoading/index.tsx
  src/shared/components/ModalProjectCreated/index.tsx
  src/shared/components/ModalSuccess/index.tsx
  src/shared/components/PrivateProjectsActions/index.tsx
  src/shared/components/index.ts
Due: prettier --write, eslint --fix, stylelint --fix

added cancel to connect wallet modal and added reject with value
  src/containers/DonatPool/index.tsx
  src/redux/slices/allDonatPools/thunk/index.ts
  src/shared/components/ConnectWalletModal/index.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,json,css,md,yml})
  eslint --fix: any of: *.{ts,tsx}
  stylelint --fix: any of: *.css
